// ----------------------------------------------------------------------------> CUSTOM MARGINS & PADDINGS
@for $i from 0 through 10 {
  .top-#{$i*10} { margin-top: $i*10px !important; }
  .bottom-#{$i*10} { margin-bottom: $i*10px !important; }
  .right-#{$i*10} { margin-right: $i*10px !important; }
  .left-#{$i*10} { margin-left: $i*10px !important; }
  .top-padding-#{$i*10} { padding-top: $i*10px !important; }
  .bottom-padding-#{$i*10} { padding-bottom: $i*10px !important; }
  .left-padding-#{$i*10} { padding-left: $i*10px !important; }
  .right-padding-#{$i*10} { padding-right: $i*10px !important; }

  @include breakpoint(medium down) {
    .top-medium-#{$i*10} { margin-top: $i*10px !important; }
    .bottom-medium-#{$i*10} { margin-bottom: $i*10px !important; }
    .right-medium-#{$i*10} { margin-right: $i*10px !important; }
    .left-medium-#{$i*10} { margin-left: $i*10px !important; }
    .top-medium-padding-#{$i*10} { padding-top: $i*10px !important; }
    .bottom-medium-padding-#{$i*10} { padding-bottom: $i*10px !important; }
    .left-medium-padding-#{$i*10} { padding-left: $i*10px !important; }
    .right-medium-padding-#{$i*10} { padding-right: $i*10px !important; }
  }
}

// ----------------------------------------------------------------------------> BG COLOURS
.bg-gray {
  background-color: $very-light-gray;
}

.bg-dark-gray {
  background-color: $dark-gray;
}

// ----------------------------------------------------------------------------> GENERAL
.overflow-hidden {
  overflow: hidden;
}
