// ----------------------------------------------------------------------------> GENERAL TEXT STYLE
.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: $global-weight-bold;
}

// ----------------------------------------------------------------------------> TEXT COLOURS
.primary-color {
  color: $primary-color;
}

// ----------------------------------------------------------------------------> PARAGRAPHS
p {
  font-size: $global-font-size - 10%;
}

p.smaller {
  font-size: $small-font-size;
}

// ----------------------------------------------------------------------------> LISTS
ul li {
  font-size: $global-font-size - 10%;
}

// ----------------------------------------------------------------------------> HEADINGS
h4 {
  padding-bottom: 10px;
}
